# Build output
dist/

# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependencies
node_modules/

# TypeScript cache
*.tsbuildinfo

# IDE
.vscode
.idea

# Environment
.env
.env.*

# Keep pnpm-lock.yaml
!pnpm-lock.yaml
